body {
    font-family: monospace;
    font-size: 1.3em;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1em solid #ddd
}

th, td {
    text-align: left;
    padding: 1em;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
